html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Verdana, sans-serif;
  width: 100%;
  height: 100%;

  > div {
    width: 100%;
    height: 100%;
  }
}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;

  .toolbar {
    background: green;
    width: 4em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    > div {
      display: flex;
      flex-direction: column;
      padding-top: 3em;
      &:first-child {
        padding-top: 0;
      }
    }
  }

  .workspace {
    background: red;
    flex-grow: 1;
  }
}